# Expo
.expo/
dist/
node_modules/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db
.compare/
